# Ignore KiCad backups
hardware/WCS1700_Calibrator-backups/

# Ignore gerber files
hardware/gbr/

# Ignore autosave files
hardware/#auto_saved_files#
hardware/_autosave*

# Ignore KiCad lock files
*.lck

# Ignore logs
*.log
